@tailwind base;
@tailwind components;
@tailwind utilities;
.menu-top {
    color: #b5aec4;
}

.ul {
    color: #1e1e27;
}

.ul li a {
    font-weight: 500;
    font-size: 13px;
}

.ul li {
    padding: 0px 15px;
}

.banner {
    height: 400px;
    width: 1325px;
    background-image: url(./img/a19.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 10px 10px 10px 10px;
}

.mt-32 {
    color: #1e1e27;
    font-weight: 500;
}

.text-6xl {
    font-weight: 500;
}

.category {
    border: 1px solid #ededed;
}

.product {
    border-radius: 4px;
    border: 1px solid #ededed;
    transition: 0.3s;
}

.product:hover .cart {
    display: block;
    transition: 0.3s;
}

.blog:hover .title-blog {
    display: block;
}

.information {
    border: 1px solid #ededed;
}

.border-post {
    height: 2px;
    width: 72px;
    background-color: #0d0d0d;
    margin-left: 92px;
    margin-top: 5px;
    transition: 0.3s;
}

.hover_post:hover .border-post {
    background-color: red;
    width: 35px;
    transition: 0.3s;
}

.border_title_post {
    border: 1px solid #ededed;
}

.border-cart {
    border-top: 1px solid #ededed;
}